html{
  scroll-behavior: smooth;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1A1A2E;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
}

#header {
  width: 100%;
  height: 10vh;
  background-color: #16213E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: #317AC1 1px 1px 1px;
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding: 0;
  margin: 0;
}
#menu li{
  width: 13vw;
  padding: 10px 0px;
  background-color: #1A1A2E;
  box-shadow: 5px 5px #317AC1;
  text-align: center;
}
#menu a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  transition: color 0.3s;
}

#menu a:hover {
  color: #00bfff;
}
li{
  list-style: none;
}
main {
  margin-top: 10vh;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 700px) {
  #menu a{
    font-size: 10px;
  }
  #menu li{
    width: 15vw;
  }

}
@media (max-width: 1100px) {
  #menu a{
    font-size: 1rem;
  }
}


