#hero {
    align-items: center;
    justify-content: center;
    padding: 4vh 1vh;
    display: flex;
    flex-direction: row;

}
#profilePicture{
    width: 15%;
    height: 25%;
    padding-right: 4vw;
}
#heroText{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h1 {
    font-size: 2rem;
    margin: 1rem 0;
}
#header .accent {
    text-align: center;
    margin-right: 5vw;
}
.accent {
    font-size: 3rem;
    font-family: 'Kumar One';
    color: #00bfff;
}

#hero p {
    max-width: 600px;
    color: #c2bdbd;
}

.btn {
    margin-top: 1.5rem;
    background-color: #00bfff;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #008ecc;
}

#about {
    margin-top: 3vh;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10vh;
}
p a{
    text-decoration: none;
    color: #00bfff;
}
#hero .accent::after {
    content: "⦿ ◆ ⦿";
    display: block;
    font-size: 1rem;
    color: #008ecc;
    margin-top: 0.5rem;
    letter-spacing: 8px;
}
@media (max-width: 1000px) {
    .accent{
        font-size: 1.2rem;
    }
    #header .accent{
        width: 25%;
        margin-right: 0;
    }
}
@media (max-width: 1700px) {
    .accent{
        font-size: 1.6rem;
    }
}
