#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh 1vh;

    flex-direction: row;

}
#profilePicture{
    width: 20%;
    height: 25%;
    margin-right: 4vw;
    box-shadow: 5px 5px #317AC1;
    transition: transform .18s ease, border-color .18s ease, box-shadow .18s ease;
}

#profilePicture:hover{
    transform: translateY(-2px);
    border-color: #6a6abb;
    box-shadow: #317AC1 12px 12px 1px;
}
#heroText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#hero h1 {
    font-size: 2rem;
    margin: 1rem 0;
}
#header .accent {
    width: auto;
    font-size: 1.5rem;
    text-align: center;
}
.accent {
    font-size: 3rem;
    font-family: 'Kumar One';
    color: #00bfff;
}

#hero p {
    max-width: 600px;
    color: #c2bdbd;
}

.btn {
    margin-top: 1.5rem;
    background-color: #00bfff;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #008ecc;
}

#about {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10vh;
}
p a{
    text-decoration: none;
    color: #00bfff;
}
#hero .accent::after {
    content: "⦿ ◆ ⦿";
    display: block;
    font-size: 1rem;
    color: #008ecc;
    margin-top: 0.5rem;
    letter-spacing: 8px;
}
@media (max-width: 1000px) {
    #nameContainer .accent{
        font-size: 0.8rem;
    }
    #profilePicture{
        width: 100px;
        height: 150px;
    }
    #menu ul{
        gap: 1.5rem;
    }
}
@media (max-width: 500px) {
    main{
        padding: 1rem;
    }
    #menu a{
        font-size: 10px;

    }
    #menu li{
        padding: 5px;
        width: 22%;
    }
    #profilePicture{
        display: none;
    }
    .hero-row{
        width: 100%;
        padding: 0.5rem;
    }


}

